In [1]:
import pandas as pd
import numpy as np

In [2]:
bureau = pd.read_csv('G:\Kaggle\home credit\data\\bureau.csv')
#len(bureau)

In [15]:
bureau.head()

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
0,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.0,0.0,NaN,0.0,Consumer credit,-131,NaN
1,215354,5714463,Active,currency 1,-208,0,1075.0,NaN,NaN,0,225000.0,171342.0,NaN,0.0,Credit card,-20,NaN
2,215354,5714464,Active,currency 1,-203,0,528.0,NaN,NaN,0,464323.5,NaN,NaN,0.0,Consumer credit,-16,NaN
3,215354,5714465,Active,currency 1,-203,0,NaN,NaN,NaN,0,90000.0,NaN,NaN,0.0,Credit card,-16,NaN
4,215354,5714466,Active,currency 1,-629,0,1197.0,NaN,77674.5,0,2700000.0,NaN,NaN,0.0,Consumer credit,-21,NaN

In [3]:
bureau_bal = pd.read_csv('G:\Kaggle\home credit\data\\bureau_balance.csv')

* Ignoring months_balance col
* Used get dummies for one hot encoding

In [4]:
cat_bu_bal = pd.get_dummies(bureau_bal.select_dtypes('object'))

In [5]:
cat_bu_bal['SK_ID_BUREAU'] = bureau_bal['SK_ID_BUREAU']
#cat_bu_bal_agg = cat_bu_bal.groupby('SK_ID_BUREAU').agg(['sum','mean']).reset_index()

In [7]:
#merging bureau and bureau bal
#this can be grouped directly by SK_ID_CURR and merged with application_train.csv
bu_bal_agg = cat_bu_bal.merge(bureau[['SK_ID_BUREAU', 'SK_ID_CURR']], on = 'SK_ID_BUREAU', how = 'left')

In [8]:
bru_bal_agg = bu_bal_agg.drop(columns='SK_ID_BUREAU').groupby('SK_ID_CURR').agg(['sum','mean']).reset_index()

In [10]:
bu_bal_col = ['SK_ID_CURR']
for x in bru_bal_agg.columns.levels[0]:
    if(x != 'SK_ID_CURR'):
        for y in bru_bal_agg.columns.levels[1][:-1]:
                bu_bal_col.append('bu_bal_%s_%s' % (x,y))

In [13]:
bru_bal_agg.columns = bu_bal_col

In [15]:
bru_bal_agg.head()

,SK_ID_CURR,bu_bal_STATUS_0_sum,bu_bal_STATUS_0_mean,bu_bal_STATUS_1_sum,bu_bal_STATUS_1_mean,bu_bal_STATUS_2_sum,bu_bal_STATUS_2_mean,bu_bal_STATUS_3_sum,bu_bal_STATUS_3_mean,bu_bal_STATUS_4_sum,bu_bal_STATUS_4_mean,bu_bal_STATUS_5_sum,bu_bal_STATUS_5_mean,bu_bal_STATUS_C_sum,bu_bal_STATUS_C_mean,bu_bal_STATUS_X_sum,bu_bal_STATUS_X_mean
0,100001.0,31.0,0.180233,1,0.005814,0,0.0,0,0.0,0,0.0,0.0,0.0,110.0,0.639535,30.0,0.174419
1,100002.0,45.0,0.409091,27,0.245455,0,0.0,0,0.0,0,0.0,0.0,0.0,23.0,0.209091,15.0,0.136364
2,100005.0,14.0,0.666667,0,0.000000,0,0.0,0,0.0,0,0.0,0.0,0.0,5.0,0.238095,2.0,0.095238
3,100010.0,20.0,0.277778,0,0.000000,0,0.0,0,0.0,0,0.0,0.0,0.0,52.0,0.722222,0.0,0.000000
4,100013.0,79.0,0.343478,7,0.030435,0,0.0,0,0.0,0,0.0,0.0,0.0,103.0,0.447826,41.0,0.178261

* This bureau files contains no of previous loan applications to Home credit for each SK_ID_CURR
* Extracting no of previous applications to Home Credit for each CSK_ID_CURR and merging it with application_train.csv (how = 'left') as a new feature.

In [17]:
prevApp = bureau.groupby('SK_ID_CURR',as_index=False)['SK_ID_BUREAU'].count().rename(columns={'SK_ID_BUREAU': 'prevApp'})

In [18]:
bureau_agg = bureau.drop(columns='SK_ID_BUREAU').groupby('SK_ID_CURR').agg(['count','max','mean','sum']).reset_index()

In [25]:
#tmp = bureau.drop(columns='SK_ID_BUREAU').groupby('SK_ID_CURR').agg(['count','max','mean','sum']).reset_index()

* bureau_agg contains aggregations of all columns.
* Renaming column names now has 2 levels. Merging levels and renaming columns with its appropriate names.

In [19]:
col = ['SK_ID_CURR']
for x in bureau_agg.columns.levels[0]:
    if(x != 'SK_ID_CURR'):
        for y in bureau_agg.columns.levels[1][:-1]:
                col.append('bureau_%s_%s' % (x,y))

* Assigning new column name to aggregated bureau dataframe.

In [20]:
bureau_agg.columns = col

In [21]:
# list of categorical variables in bureau.csv for each previous application made to home credit.
(bureau.select_dtypes('object')).head()

  CREDIT_ACTIVE CREDIT_CURRENCY      CREDIT_TYPE
0        Closed      currency 1  Consumer credit
1        Active      currency 1      Credit card
2        Active      currency 1  Consumer credit
3        Active      currency 1      Credit card
4        Active      currency 1  Consumer credit

In [22]:
# using get dummies for categorical features
cat= pd.get_dummies(bureau.select_dtypes('object'))
cat['SK_ID_CURR'] = bureau['SK_ID_CURR']

In [64]:
cat.head()

,CREDIT_ACTIVE_Active,CREDIT_ACTIVE_Bad debt,CREDIT_ACTIVE_Closed,CREDIT_ACTIVE_Sold,CREDIT_CURRENCY_currency 1,CREDIT_CURRENCY_currency 2,CREDIT_CURRENCY_currency 3,CREDIT_CURRENCY_currency 4,CREDIT_TYPE_Another type of loan,CREDIT_TYPE_Car loan,...,CREDIT_TYPE_Loan for business development,CREDIT_TYPE_Loan for purchase of shares (margin lending),CREDIT_TYPE_Loan for the purchase of equipment,CREDIT_TYPE_Loan for working capital replenishment,CREDIT_TYPE_Microloan,CREDIT_TYPE_Mobile operator loan,CREDIT_TYPE_Mortgage,CREDIT_TYPE_Real estate loan,CREDIT_TYPE_Unknown type of loan,SK_ID_CURR
0,0,0,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,215354
1,1,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,215354
2,1,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,215354
3,1,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,215354
4,1,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,215354

* Using sum and mean aggregations for categorical features.
* sum is used to get no of instances and mean to get the normalised value.

In [23]:
bureau_cat = cat.groupby('SK_ID_CURR').agg(['sum','mean']).reset_index()

In [24]:
bureau_cat.head()

  SK_ID_CURR CREDIT_ACTIVE_Active           CREDIT_ACTIVE_Bad debt       \
                              sum      mean                    sum mean
0     100001                    3  0.428571                      0  0.0
1     100002                    2  0.250000                      0  0.0
2     100003                    1  0.250000                      0  0.0
3     100004                    0  0.000000                      0  0.0
4     100005                    2  0.666667                      0  0.0

  CREDIT_ACTIVE_Closed           CREDIT_ACTIVE_Sold       \
                   sum      mean                sum mean
0                    4  0.571429                  0  0.0
1                    6  0.750000                  0  0.0
2                    3  0.750000                  0  0.0
3                    2  1.000000                  0  0.0
4                    1  0.333333                  0  0.0

  CREDIT_CURRENCY_currency 1 ...  CREDIT_TYPE_Microloan       \
                         sum ...                    sum mean
0                          7 ...                      0  0.0
1                          8 ...                      0  0.0
2                          4 ...                      0  0.0
3                          2 ...                      0  0.0
4                          3 ...                      0  0.0

  CREDIT_TYPE_Mobile operator loan      CREDIT_TYPE_Mortgage       \
                               sum mean                  sum mean
0                                0  0.0                    0  0.0
1                                0  0.0                    0  0.0
2                                0  0.0                    0  0.0
3                                0  0.0                    0  0.0
4                                0  0.0                    0  0.0

  CREDIT_TYPE_Real estate loan      CREDIT_TYPE_Unknown type of loan
                           sum mean                              sum mean
0                            0  0.0                                0  0.0
1                            0  0.0                                0  0.0
2                            0  0.0                                0  0.0
3                            0  0.0                                0  0.0
4                            0  0.0                                0  0.0

[5 rows x 47 columns]

In [25]:
cat_col=['SK_ID_CURR']
for x in bureau_cat.columns.levels[0]:
    if(x != 'SK_ID_CURR'):
        for y in bureau_cat.columns.levels[1][:-1]:
                cat_col.append('bureau_%s_%s' % (x,y))

In [26]:
bureau_cat.columns = cat_col

In [63]:
bureau_cat.head()

,SK_ID_CURR,fromBureau_CREDIT_ACTIVE_Active_sum,fromBureau_CREDIT_ACTIVE_Active_mean,fromBureau_CREDIT_ACTIVE_Bad debt_sum,fromBureau_CREDIT_ACTIVE_Bad debt_mean,fromBureau_CREDIT_ACTIVE_Closed_sum,fromBureau_CREDIT_ACTIVE_Closed_mean,fromBureau_CREDIT_ACTIVE_Sold_sum,fromBureau_CREDIT_ACTIVE_Sold_mean,fromBureau_CREDIT_CURRENCY_currency 1_sum,...,fromBureau_CREDIT_TYPE_Microloan_sum,fromBureau_CREDIT_TYPE_Microloan_mean,fromBureau_CREDIT_TYPE_Mobile operator loan_sum,fromBureau_CREDIT_TYPE_Mobile operator loan_mean,fromBureau_CREDIT_TYPE_Mortgage_sum,fromBureau_CREDIT_TYPE_Mortgage_mean,fromBureau_CREDIT_TYPE_Real estate loan_sum,fromBureau_CREDIT_TYPE_Real estate loan_mean,fromBureau_CREDIT_TYPE_Unknown type of loan_sum,fromBureau_CREDIT_TYPE_Unknown type of loan_mean
0,100001,3,0.428571,0,0.0,4,0.571429,0,0.0,7,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
1,100002,2,0.250000,0,0.0,6,0.750000,0,0.0,8,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
2,100003,1,0.250000,0,0.0,3,0.750000,0,0.0,4,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
3,100004,0,0.000000,0,0.0,2,1.000000,0,0.0,2,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
4,100005,2,0.666667,0,0.0,1,0.333333,0,0.0,3,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0

* Now we have 3 dataframes one for continuous features and the other for categorical and one just with no of previous applications.
* Final dataframes are
    * bru_bal_agg - contains agg data from bureau_balance.csv
    * bureau_cat - contains categorical aggregated data from bureau.csv
    * bureau_agg - contains continuous aggregated data from bureau.csv

* All the above dataframes have SK_ID_CURR. These dataframes can be merged with application_train.csv on = SK_ID_CURR when needed.

In [28]:
processed_bureau = pd.merge(bureau_cat,bureau_agg,on='SK_ID_CURR',how='outer').merge(bru_bal_agg,on='SK_ID_CURR',how='outer')

In [29]:
processed_bureau.to_csv('processed_bureau.csv',index=False)