In [1]:
import pandas as pd

In [2]:
dt = pd.read_csv('bureau_balance.csv')

In [15]:
dpd - 1
c - 2
x - 3
draw = 0

Index(['SK_ID_BUREAU', 'MONTHS_BALANCE', 'STATUS'], dtype='object')

In [3]:
dt = dt.drop(['MONTHS_BALANCE'], axis=1)
dt['STATUS'] = dt['STATUS'].astype("str")

In [4]:
dt['STATUS'] = list(map(lambda x: "D" if x.isdigit() else x, dt['STATUS']))

In [5]:
x = dt.groupby(['SK_ID_BUREAU', 'STATUS'], sort=True).size().reset_index(name='counts')

In [25]:
x = x.sort_values('counts').groupby('SK_ID_BUREAU').first()

In [26]:
len(x) - len(set(dt['SK_ID_BUREAU']))

0

In [28]:
x.reset_index(level=0, inplace=True)

In [32]:
bb = pd.read_csv("processed_data_set/Pr_bureau_balance.csv")

In [33]:
set(x['STATUS'])

{'C', 'D', 'X'}

In [34]:
x

        SK_ID_BUREAU STATUS  counts
0            5001709      X      11
1            5001710      D       5
2            5001711      X       1
3            5001712      C       9
4            5001713      X      22
5            5001714      X      15
6            5001715      X      60
7            5001716      X      20
8            5001717      C       5
9            5001718      C       3
10           5001719      D       2
11           5001720      D      36
12           5001721      D      13
13           5001722      C      39
14           5001723      D       8
15           5001724      X       9
16           5001725      X       1
17           5001726      D       6
18           5001727      D      23
19           5001728      D       1
20           5001729      C       1
21           5001730      D       5
22           5001731      X      11
23           5001732      X      36
24           5001733      X      11
25           5001734      D       3
26           5001735      D       1
27           5001736      D       4
28           5001737      C      10
29           5001738      D      12
...              ...    ...     ...
817365       6842859      D       6
817366       6842860      X       7
817367       6842861      C       2
817368       6842862      C      15
817369       6842863      D       1
817370       6842864      D      16
817371       6842865      D      19
817372       6842866      D       5
817373       6842867      D      15
817374       6842868      D       4
817375       6842869      D       2
817376       6842870      X       2
817377       6842871      X       7
817378       6842872      X       3
817379       6842873      D       4
817380       6842874      X       1
817381       6842875      X       1
817382       6842876      D       1
817383       6842877      X       1
817384       6842878      X       2
817385       6842879      D       6
817386       6842880      D       9
817387       6842881      X      12
817388       6842882      X       4
817389       6842883      X       1
817390       6842884      D       9
817391       6842885      D      24
817392       6842886      D       8
817393       6842887      D       6
817394       6842888      D      10

[817395 rows x 3 columns]